<p>login-docente works!</p>
<p>Acá el docente se loguea con una cuenta provista por nosotros (asi los pibes no crean partidas a troche y moche)</p>
<p>Inputs necesarios: Usuario y Contraseña</p>
<p>De acá vamos a crear partida</p>
<div>
    <mat-form-field style="height: 50px;">
        <mat-label style="height: 100px;">usuario</mat-label>
        <input matInput>
    </mat-form-field></div>
    <div><mat-form-field style="height: 50px;">
        <mat-label style="height: 100px;">constrasena</mat-label>
        <input matInput>
    </mat-form-field></div>
<button routerLink="/nueva-partida">Crear Partida</button>
